{% extends "base.html" %} 
{% block head %}
<style type="text/css">
  .input-append{
    padding-top:10px;
  }
</style>
<script type="text/javascript">
  $(function(){
    // Fit 4 items in a row (CSS wont work in IE)
    $("#challenges div:nth-child(4n+1)").css('margin-left','0');
  });
</script>
<script src="../static/js/challenges.js"></script>
{% endblock %} 
{% set activePage="Challenges" %}
{% block body %}
<div class="page-header">
    <h1>
        Challenges
    </h1>
</div>

<div id="challenges">


<!--
{% for num in range(0,10) %}
  <div class="span3">
    <div class="well text-center">
      <h3>Challenge #1</h3>
      <hr>
      <p>Solves: 0</p>
      <a href="#">Download Challenge</a>
      <div class="input-append">
        <input class="input-small" id="appendedInputButton" type="text" placeholder="Flag">
        <button class="btn" type="button">Submit</button>
      </div>
    </div>
  </div>
{% endfor %}
-->

</div>

{% endblock %}s