{% extends "base.html" %} 
{% block head %}
<style type="text/css">
  .input-append{
    padding-top:10px;
  }
</style>
<!--<script src="../static/js/scoreboard.js"></script>-->
{% endblock %} 
{% set activePage="Scoreboard" %}
{% block body %}
<div class="page-header">
    <h1>
        Scoreboard
    </h1>
</div>



<div class="well">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody id="scoreboard">
      {% for user in users %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.submissions }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}s